rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function modifyingEmailField() {
      return request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(["email"]);
    }

    match /users/{userID} {
      allow read, create, delete: if false;
      allow update: if request.auth.uid == userID && !modifyingEmailField();
    }

    function changeNothingAboutCard() {
      return
        request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly([]);
    }

    function assignNewCardToSelf() {
      return
        (!("userID" in resource.data) || resource.data.userID == null)  &&
        request.resource.data.userID == request.auth.uid &&
        request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(["userID"]);
    }

    match /cards/{card} {
      allow read, delete, create: if false;
      allow update: if request.auth == null && changeNothingAboutCard();
      allow update: if request.auth != null && assignNewCardToSelf();
    }
  }
}
